.home-page{
  margin: 10px;
}
.home-card-container{
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
}
.restaurent-detail-page{
  padding: 20px 100px;
}
.discount-card-section{
  margin-top: 30px;
  margin-bottom: 30px;
}
.menus-container{
  margin-top: 30px;
}