.home-page {
  margin: 10px;
}
.home-card-container {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
}
.restaurent-detail-page {
  margin: auto;
  max-width: 1000px;
  padding: 20px 20px;
}
.discount-card-section {
  margin-top: 30px;
  margin-bottom: 30px;
  display: flex;
  overflow: auto; /* Enable vertical and horizontal scrolling */
  scrollbar-width: none; /* Hide the default scrollbar for Firefox */
  -ms-overflow-style: none;
}

.discount-card-section::-webkit-scrollbar {
  width: 0;
  background: transparent;
}
.menus-container {
  margin-top: 30px;
}

.restaurent-license-container {
  background-color: #f1f1f6;
}

.search-page {
  width: 860px;
  margin: auto;
  margin-top: 20px;
}

.cusine-container {
  display: flex;
  overflow-x: scroll;
margin-top: 20px;
}

.cusine-container::-webkit-scrollbar {
  width: 0;
  background: transparent;
}

.popular-cusine-title {
  font-size: 2.5rem;
  font-weight: 800;
  color: #3d4152;
  letter-spacing: -0.3px;
  margin-top: 20px;
}
