.navbar-container{
  /* background-color: #ccc;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  height: 80px; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 15px 40px -20px rgba(40,44,63,.15); 
    top: 0;
    left: 0;
    right: 0;
    height: 80px;
    background: #fff;
    z-index: 1000;
    will-change: transform;
    transform: translateZ(0);
    transition: transform .3s ease;
    contain: size layout style;
    padding: 0 20px;
}
.logo-img{
  height: 50px;
  width: 50px;
  transition: width 2s, height 2s;
}
.logo-img:hover{
  height: 60px;
  width: 60px;
}

.nav-items{
  display: flex;
  list-style-type: none;
}
.nav-item{
  margin: 10px;
  font-size: 2rem;
  text-decoration: none;
  color: #3d4152;
}
.nav-item:hover{
  color: #ffa700;
}