.navbar-container{
  background-color: #ccc;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  height: 80px;
}
.logo-img{
  height: 50px;
  width: 50px;
  transition: width 2s, height 2s;
}
.logo-img:hover{
  height: 60px;
  width: 60px;
}

.nav-items{
  display: flex;
  list-style-type: none;
}
.nav-item{
  margin: 10px;
  font-size: 2rem;
  text-decoration: none;
  color: #3d4152;
}
.nav-item:hover{
  color: #ffa700;
}